.news_info ul li {
    align-items: center;
    display: flex;
    gap: 10px;
}

.news_info ul li div:nth-child(1) {
    width: 40%;
}

.news_info ul li h3 {
    color: #fff;
    margin: 0;
    font-size: 19px;
}

.news_info ul li p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}
.events-news  h3{
    color: #fff;
    font-family: 'Montserrat';
}

.news_info li{
    background-color: #f200002e;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.news_box .news_image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.newsbox_info h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0px;
    font-family: 'Montserrat';
}

.newsbox_info {
    text-align: center;
    padding: 10px 21px;
}

.newsbox_info p {
    opacity: 0.7;
}

ul.read_more {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid red;
    padding: 10px 0px;
    margin: 0;
    align-items: center;
}

ul.read_more>li>a {
    color: red;
    text-transform: capitalize;
}

.news_box {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 10px;
    /* Featuers  */
}

.news_box ul.read_more li:last-child a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.news_box ul.read_more li>a {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}