<app-inner-banner></app-inner-banner>

<section class="news_sec py_8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <h2>Latest News</h2>
        <div class="news_wrap">
          <img src={{mainNewsImage}}  alt="" />
          <h3>
            {{mainNewsTitle}}
          </h3>
          <p>
            {{mainNewsLongText}}
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Recent News</h2>
        <ul> 
          <li *ngFor="let news of ourNews" (click)="changeData($event)" id={{news.newsId}}>
            <div class="news_image">
              <img src={{news.newsImage}} alt="" />
            </div>
            <div class="news_description">
              <h4>{{news.newsTitle}}</h4>
              <p>
                {{news.shortDescription}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
