.news_wrap h3{
    margin: 20px 0px;
    font-size: 30px;
}
.news_wrap img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

ul li {
    display: flex;
    align-content: center;
    gap: 11px;
    margin-bottom:10px ;
    cursor: pointer;
    background-color:#bd0f0f2e;
    border-radius: 10px;
}

li .news_image {width: 30%;}
li .news_image img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    object-fit: cover;
}
li .news_description {
    width: 70%;
    padding: 10px 0px;
}

li .news_description  h4{
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
}
li .news_description  p{
    margin-bottom: 0px;
    font-size: 14px;
}

.container-fluid{
    padding: 0px 80px;
}