



   <!-- header strat -->
   <header>
    <div class="menuSec">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-2 col-sm-6 col-6">
            <a [routerLink]="['home']" routerLinkActive="router-link-active" ><img src="../../../assets/images/logo.png" alt="img" /></a>
          </div>
          <div class="col-md-6 d-none d-md-block">
            <ul id="menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">Gallery</a></li>
              <li><a href="service.html">Events</a></li>
              <li><a href="videos.html">News</a></li>
              <li><a href="videos.html">Promos</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-6 text-right">
            <ul class="buttons d-flex align-items-center">
              <li><a [routerLink]="['booking']" class="theme_btn">Book Now</a></li>
              <li>
                <a href="contact.html" class="theme_btn">Loyalty Customers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header strat -->