<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner">
          <img src="../../assets/images/logo.png" alt="" width="250px">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi repellat eveniet aliquam excepturi assumenda earum dolorem iusto natus hic reprehenderit eum quos sunt itaque alias, quisquam praesentium nobis quis?</p>
          <ul>
            <a href="index.html"> </a>
            <li>
              <a href="index.html"></a
              ><a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner2">
          <h4>Our Location</h4>
          <p>The Marksman Arena</p>
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-location-dot"></i> Plot # 2 & 2A Survey 86 Main Ibrahim Hyderi Road, Korangi Creek, Karachi, Sindh.</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner2">
          <h4>Contact Info</h4>
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-phone"></i> Phone: (021) 35093294</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-envelope"></i> Mail:
                info@marksman.pk</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner4">
          <h4>Opening Hours</h4>
          <ul>
            <li><span>Monday</span>...... <span>10:00AM - 11:00PM</span></li>
            <li><span>Tuesday</span>...... <span>10:00AM - 11:00PM</span></li>
            <li><span>Wednesday</span>...... <span>10:00AM - 11:00PM</span></li>
            <li><span>Thursday</span>...... <span>10:00AM - 11:00PM</span></li>
            <li><span>Friday</span>...... <span>4:00PM - 11:00PM</span></li>
            <li><span>Saturday</span>...... <span>10:00AM - 11:00PM</span></li>
            <li><span>Sunday</span>...... <span>10:00AM - 11:00PM</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>