<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner">
          <h4>ABOUT US</h4>
          <a href="index.html">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium accusantium sit tempore omnis quae dicta,
              voluptatibus error iste eius odio!
            </p>
          </a>
          <ul>
            <a href="index.html"> </a>
            <li>
              <a href="index.html"></a
              ><a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-snapchat"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner2">
          <h4>Contact Details</h4>
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-location-dot"></i> R46C+3PC, Korangi Creek, Karachi, Karachi City, Sindh</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-phone"></i> Phone: +021 - 2354 00</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-envelope"></i> Mail:
                info@marksman.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner3">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Services</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
            <li><a href="javascript:void(0)">From &amp; Resources</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer_inner4">
          <h4>Book Appointment</h4>
          <div class="bg">
            <ul>
              <li>
                <div class="contact_icon">
                  <i class="fa-solid fa-phone"></i>
                </div>
              </li>

              <li>
                <p>LET’S CHAT</p>
                <h5>921-124-9220</h5>
              </li>
            </ul>
          </div>
          <p>
            Contact us now for a quote about consultation ( Available 24/7 )
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>