<app-inner-banner></app-inner-banner>
<section class="events-news py_8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h3>Upcoming Events</h3>
        <app-news-events-slider></app-news-events-slider>
      </div>
      <div class="col-md-4 news_info">
        <h3>Recenet Events</h3>
        <ul>
          <li>
            <div>
              <img src="../../assets/images/paintball2.webp" alt="" />
            </div>
            <div>
              <h3>Paintball Competition</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                animi alias .
              </p>
            </div>
          </li>
          <li>
            <div>
              <img src="../../assets/images/indoor-cricket.jpg" alt="" />
            </div>
            <div>
              <h3>Indoor Cricket Competition</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                animi alias .
              </p>
            </div>
          </li>
          <li>
            <div>
              <img src="../../assets/images/GelBlaster.webp" alt="" />
            </div>
            <div>
              <h3>Gelblaster Quickshot</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                animi alias .
              </p>
            </div>
          </li>
          <li>
            <div>
              <img src="../../assets/images/archery.jpg" alt="" />
            </div>
            <div>
              <h3>Archery Competition</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                animi alias .
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>