@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rajdhani:wght@500;600;700&display=swap');
/***** General CSS *****/

body {
  word-break: break-word;
  font: 16px/25px "poppins";
  color: #fff;
  overflow-y: hidden;
  background-color: #000 !important;
}
:root{
  /* --zen-dots:'Zen Dots', cursive; */
  /* --zen-dots:'nexa-rust'; */
  --zen-dots:'legend-m';
}
html {
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: #fff;
  white-space: initial;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #FF0000;
}

a:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

img {
  max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

p {
  font-weight: 400;
}

/***** Font Files *****/

@font-face {
  font-family: "Fonts Awesome";
  src: url(../fonts/fontawesome-webfont.html);
  src: url(../fonts/fontawesome-webfontd41d.html?#iefix)
      format("embedded-opentype"),
    url(../fonts/fontawesome-webfont-2.html) format("woff"),
    url(../fonts/fontawesome-webfont-3.html) format("truetype"),
    url(../fonts/fontawesome-webfont-4.html#fontawesome-webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'nexa-rust';
  src: url(../fonts/NexaRustSans-Trial-Black2.ttf);
}
@font-face {
  font-family: 'socer-s';
  src: url(../fonts/SoccerLeagueCollege.ttf);
}
@font-face {
  font-family: 'legend-m';
  src: url(../fonts/legend.ttf);
}

/***** Custom Classes *****/

.noPadding {
  padding: 0;
}

.noLeft {
  padding-left: 0;
}

.noRight {
  padding-right: 0;
}

.centerCol {
  float: none;
  margin: 0 auto;
}

.pt_8 {
  padding-top: 80px;
}

.pb_8 {
  padding-bottom: 80px;
}

.py_8 {
  padding: 80px 0px;
}

.theme_btn {
  --color: #FF0000;
  padding: 0.8em 1.7em;
  display: inline-block;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.theme_btn::before,
.theme_btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.theme_btn::before {
  top: -1em;
  left: -2em;
}

.theme_btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 2em);
}

.theme_btn:hover::before,
.theme_btn:hover::after {
  height: 410px;
  width: 410px;
}

.theme_btn:hover {
  color: rgb(255 255 255);
}

.theme_btn:active {
  filter: brightness(0.8);
}

.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.flexCol {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-items: center;
}

h1 {
  font-family: var(--zen-dots);
  font-size: 55px;
  line-height: 1.2;
  color: #FF0000;
  font-weight: 500;
  margin: 0 0 17px;
}

h2 {
  font-family: var(--zen-dots);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin: 0 0 30px;
}

h3 {
  font-family: 'Rajdhani';
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  font-weight: 600;
  margin: 0 0 28px;
}

h4 {
  font-family: 'Rajdhani';
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin: 0 0 13px;
}

h5 {
  font-family: 'Rajdhani';
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin: 0 0 20px;
}

h6 {
  font-family: 'Rajdhani';
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin: 0 0 22px;
}


::-webkit-input-placeholder {
  color: #575757;
}

::-moz-placeholder {
  color: #575757;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #575757;
}

:-moz-placeholder {
  color: #575757;
  opacity: 1;
}

/*header css start */

.menuSec {
  padding: 12px 50px;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50px;

}
.topbar{
  background-color: #bd0f0f;
  padding: 0px 10px;
}
.topbar ul{
  margin: 0px;
}
.menuSec img {
  margin: 0;
}

.menuSec ul {
  position: relative;
  list-style: none;
  margin: 0;
  text-align: right;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 63px;
  font-weight: 500;
  margin-top: 33px;
}

.menuSec ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menuSec li ul {
  display: none;
}

.menuSec ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.menuSec ul li a:hover,
.menuSec ul li a.active {
  color: white;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color:#fff;
  background: transparent;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 40px;
  height: 20px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.menuSec li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: #fff000;
  left: 0px;
  width: 230px;
  text-align: left;
  top: 38px;
}

.menuSec li > ul > li > a {
  border: none;
  padding: 13px 20px !important;
  color: #fff !important;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
}

.menuSec li > ul > li,
.menuSec li > ul > li > a {
  display: block;
  margin: 0;
}

.menuSec li > ul > li > a:before,
.menuSec li > ul > li > a:after {
  display: none;
}

.menuSec li:hover li {
  float: none;
}

.menuSec li ul li a:hover {
  background-color: #ffffff;
  color: #fff000 !important;
}

.menuSec ul ul ul {
  left: 100%;
  top: 0;
}

.menuSec ul:before,
.menuSec ul:after {
  content: " ";
  display: table;
}

.menuSec ul:after {
  clear: both;
}

.menuSec li > ul > li:hover > ul {
  left: 230px;
  top: 0px;
  width: 270px;
}

.droopdwon li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: #fff000;
  left: 0px;
  width: 230px;
  text-align: left;
  top: 40px;
}

.droopdwon {
  float: left;
}

.droopdwon li:hover li a:hover {
  background-color: #ffffff;
  color: #fff !important;
}

.menuSec #menu li a:hover:before {width: 100%;}

.menuSec #menu li a:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    background: #bd0f0f;
    bottom: -2px;
    border-radius: 5px;
    transition: 0.3s;
}
.menuSec.sticky{
  transition: 0.5s;
}
.menuSec.sticky.fixed {
  position: fixed;
  background: #000;
  top: 0;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
-webkit-transition: 0.5s;
transition: 0.5s;
  
  box-shadow: rgb(255 255 255 / 24%) 0px 3px 8px;
}

/*header css start */

.dropdown-menu {
  position: absolute !important;
  z-index: 1000;
  display: block;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

/*banner css start */

/* Tab slider fix  */

.tab_sec .tab-pane {
  display: block;
  border: 0;
  height: 0;
}

.tab_sec .tab-pane.active {
  display: block !important;
  height: auto;
}

/* Tab slider fix  */

/* banner */
.banner_slide {
  position: relative;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
}

.banner_slide:before{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, black, transparent);

}
.banner_slide .carousel-caption.d-none.d-md-block {
  left: 290px;
  right: unset;
  bottom: unset;
  top: 40%;
  width: 50%;
  text-align: left;
}
.buttons{
  gap: 10px !important;
  justify-content: end !important;
  margin-top: 12px !important;
}
.main_banner {
  background: #FF0000;
}
.slick-slide {
  opacity: 1;
  margin: 0;
}
.banner_text *{
  color: #fff;
}
.banner_text h1 {
  font-size: 70px;
  text-transform: capitalize;
}

.main_banner lottie-player {
  height: 500px;
}

.main_banner .slick-dots li button:before {
  color: #FF0000;
  opacity: 1;
  font-size: 15px;
}

.main_banner .slick-active {
  opacity: 1;
}
.main_banner .banner_slide .container{
  height: 100vh;
  display: flex;
  align-items: center;
}

.main_banner .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

.main_banner ul.slick-dots {
  bottom: 100px;
}


.main_banner .slick-next:before {
    content: '\f054';
    font-family: 'Font Awesome 5 Pro';
}

.main_banner .slick-prev:before, .slick-next:before {
    color: #fff;
    font-size: 40px;
    opacity: 1;
}

.main_banner .slick-next {
    right: 150px;
}

.main_banner .slick-prev {
    left: 80px;
    z-index: 111;
}

.main_banner .slick-prev:before {
    content: '\f053';
    font-family: 'Font Awesome 5 Pro';
}
/* banner */


/* services */
.theme_heading h2 {
  text-transform: uppercase;
  font-size: 65px;
  position: relative;
  color: #fff;
  display: inline-block;
}
.theme_heading{
  padding-bottom: 40px;
}

.theme_heading h2:before {
  content: '';
  position: absolute;
  width: 10%;
  height: 5px;
  background: #850000;
  bottom: -10px;
  left: 0;
  border-radius: 5px;
}

.theme_heading.text-center h2:before{
  left: 0;
  right: 0;
  margin: 0 auto;

}
.our-service-sass {
  background-size: 100%;
  background-position: center;
  position: relative;
}

.theme-title-one .icon-box .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-img img
{
  border-radius: 50%;
    padding: 10px;
    background-color: #ffffff36;
}


.theme-title-one .icon-box {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  color: inherit;
}
.our_services .theme_heading h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.our_services .theme_heading {
  padding: 0px 272px;
}
.service_box {
  position: relative;
  height: 600px;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: rgb(255 255 255 / 20%) 0px 2px 8px 0px;
}
.service_box .service_icon {
  position: absolute;
  right: 0;
  left: 0;
  top: -35px;
  margin: 0px auto;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0 10px;
  transition: 0.2s;
  border: 5px solid #fff;
  padding: 10px;
}
.service_box:hover {
  background-color: #fff;
}
.service_box:hover .service_icon {
  background-color: #ccc;
  transform: scale(1.1);
}
.service_box:hover .service_icon img {
  filter: brightness(0) invert(1);
}
.service_box:hover .service_content h2,
.service_box:hover .service_content p {
  color: #000;
}
.service_box:hover .service_content img {
  filter: brightness(0) invert(1);
}
.service_box:hover .service_content .theme_btn {
  background-color: #000;
  color: var(--main-color);
}
.service_box .service_image {
  height: 300px;
  width: 100%;
}
.service_box .service_image img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.service_box .service_content {
  text-align: center;
  padding: 20px 31px;
}
.service_box .service_content h2 {
  color: #fff;
  font-size: 25px;
  margin: 00px 0px;
  font-weight: bold;
}
.service_box .service_content p {
  color: #ffffff;
  font-size: 14px;
}
.service_box .service_content .theme_btn {
  background-color: var(--main-color);
  border: 2px solid;
  margin-top: 20px;
}
.service_box .service_content .theme_btn::before {
  background-color: var(--second-color);
  width: 250px;
}
/* services */


/* FOOTER  */

footer {
  background: linear-gradient(180deg, rgb(0 0 0 / 78%) 70%, rgb(255 0 0 / 46%)100%), url(https://cdn.shopify.com/s/files/1/0581/6831/2001/files/Hero_2_1_1800x.webp?v=1651564002);
  padding: 60px 0px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;

}

footer p {
  color: #fff;
}

.footer_inner ul {
  display: flex;
}

.footer_inner ul li i {
  color: #b27a59;
  font-size: 18px;
}

.footer_inner ul li {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}

footer h4 {
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}

footer h4::after {
  content: '';
  height: 3px;
  width: 56px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 7px;
  left: 0;
}
.logo h2 {
    color: #fff;
}


footer p {
  color: #fff;
  margin: 0;
}

.footer_inner ul {
  display: flex;
  margin-top: 20px;
}

.footer_inner ul li i {
  color: #FF0000;
  font-size: 18px;
}

.footer_inner ul li {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}

.footer_inner2 ul li a {
  color: #fff;
  display: flex;
  gap: 10px;
  margin: 12px 0px;
  align-items: center;
}
.footer_inner2 ul li i {
  background: #bd0f0f;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
footer .container-fluid{
  padding: 0px 100px;
}

.footer_inner3 ul li a {
  color: #848484;
  display: block;
  margin: 10px 0px;
}

.footer_inner4 ul {
  align-items: center;
  margin: 0;
}
.footer_inner4 ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_inner4 ul li span{
  color: #fff;
}
.footer_inner4 ul li {
  color: #bd0f0f;
}

.footer_inner4 ul .contact_icon {
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.footer_inner4 ul .contact_icon i {
  color: #FF0000;
  font-size: 24px;
}

.footer_inner4 ul h5 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}

.footer_inner4 .bg {
  background: #FF0000;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 13px;
}

.footer_inner p {
  margin: 20px 0px;
  opacity: 0.7;
}


/* FOOTER  */


.theme_heading.text-center p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}


/* slider  */
.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}



.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0.5) contrast(1) blur(4px);
}

.card__content{
  left: 15px;
  padding: var(--spacing-l);
  position: absolute;
  top: 20px;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  color: #FFF;
}
/* slider  */




.col{
  padding: 0;
  margin:0px;
}

.swiper-container {
      width: 100%; 
      padding-top: 40px;
      padding-bottom: 50px;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      width: 310px;
      height: 400px;
      background: #fff;
      -webkit-box-shadow: 4px 5px 12px -2px rgba(0,0,0,1);
      -moz-box-shadow: 4px 5px 12px -2px rgba(0,0,0,1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.swiper-slide .imgBox{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .details{
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;

}

.swiper-slide .details h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}

.swiper-slide .details h3 span{
    font-size: 18px;
    color: #ff0000;
}



.swiper-pagination-bullet{
  background-color: #fff;
}

.card-grid .card {
  height: 400px;
}




/* inner pages  */
section.inner_banner {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.inner_banner .container {
  position: absolute;
}

section.inner_banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
section.inner_banner:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, black, transparent);
}

section.inner_banner h2 {
  margin: 0;
}




.wrapper {
  width: 960px;
  height: 100%;
  background-color: #e4e4e4;
  margin: 1.2em;
  padding: 1.2em;
}

.talent {
 padding: 1.2em;
 height: 30%;
}

thead,
tbody{
  
  overflow-y: auto;
  padding-top: 1.2em;
  height: 20%;
}

.talent th {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-y: auto;
    
}

.talent td, .talent th {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

.talent tr:nth-child(odd){
  background-color: #fff;
}

.talent tr:nth-child(even){
  background-color: #f2f2f2;
}

.talent tr:hover {
  background-color: #ddd;
}

td {
  font-family: 'Open Sans', sans-serif;
}


th, td {
  text-align: left;
  padding: 1em 2em;
} 
.talent .btn-info{
  background-color: rgb(0, 149, 255);
}
.talent .btn-success{
  background-color: green;
}
.talent .btn-warning{
  background-color: orange;
}


/* match_info  */
.match_players ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.match_players ul li {
  width: 32%;
  position: relative;
  margin-bottom: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

.match_players ul li p {
  position: absolute;
  z-index: 111;
}

.match_players ul li img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.match_players ul li:before {
  position: absolute;
  background: linear-gradient(1deg, rgb(68, 1, 1) 10%, transparent 80%);
  content: '';
  height: 100%;
  width: 100%;
  bottom: 0;
}
.match_players h2{
  margin: 0;
}
.match_players .theme_btn {
  color: #fff;
}
.match_players .selected{
  background-color: #bd0f0f;
}
.mattch_info input {
  width: 100%;
  height: 50px;
  background: transparent;
  color: #fff;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.mattch_info input::placeholder{
  color: #fff;
}
section.mattch_info form {
  width: 60%;
  margin: 40px auto;
}

section.mattch_info form h2 {
  color: #fff;
}
.mattch_info form .theme_btn{
  color: #fff;
}

.mattch_info form{
  display: none;
}

.reserved::before{
  background: #6a6868 !important;
}

/* match_info  */
/* inner pages  */


/* book now  */
.ui-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #00000045;
}
.mat-calendar-body-selected {
  background: #cd0000;
}


.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background: #ff000057;
}
.mat-mdc-form-field{
  width: 100% !important;
}

a.ui-datepicker-next {
  order: 3;
}

.ui-datepicker-title {
  font-size: 23px;
  background: #ff0000;
  padding: 10px 20px;
  border-radius: 6px;
}

.ui-datepicker-header a {
  font-size: 30px;
}

table.ui-datepicker-calendar {
  width: 90%;
  text-align: center;
  margin: auto;
}

table.ui-datepicker-calendar th,
table.ui-datepicker-calendar td {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
}

table.ui-datepicker-calendar thead {
  border-bottom: 2px solid #000;
}

div#datepicker {
  background: #262626;
  border-radius: 10px;
  border: 1px solid #fff;
}

td.ui-datepicker-current-day {
  background: #ff0000;
  border-radius: 10px;
}

table.ui-datepicker-calendar th {
  padding-top: 30px;
}

p.bgText {
  font-size: 20px;
}

.select-time {
  margin-top: 50px;
}

.select-time>span {
  font-size: 20px;
}

.time-box-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-flow: wrap;
}

.time-btn {
  width: 30%;
  position: relative;
  margin: 15px 0;
}
td.ui-datepicker-unselectable.ui-state-disabled {
  opacity: 0.3;
}
.time-btn input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.time-btn span {
  color: #fff;
  font-size: 20px;
  height: 65px;
  width: 100%;
  background: #4aff3e;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.time-btn input:checked+span {
  background: #f10101f7;
  color: #fff;
}
.error{
  background: none !important;
  color: #bd0f0f !important;
  font-size: 13px !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  position: absolute;
  bottom: -46px;
  left: 1px;
}

a.btn-lg-mo {
  height: 70px;
  display: inline-flex;
  background: #000000;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fff;
}



a.btn-lg-mo i {
  margin-left: 30px;
}

.book-form {
  margin-top: 70px;
}

.book-form input,
.book-form textarea {
  height: 50px;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 20px 0 #0003;
  border-radius: 6px;
}

.book-form textarea {
  height: 150px;
}

.book-form button.btn-1 {
  height: 50px;
  padding: 0 30px;
  background: #b27a59;
  border: none;
  color: #fff;
}
.calendar h3{
  color: #fff !important;
}

.mat-datepicker-content .mat-calendar {
  height: auto !important;
  width: auto !important;
}


ngb-datepicker {
  width: 100%;
  border: 1px solid #bd0f0f !important;
}

.ngb-dp-month {
  width: 100%;
}

.ngb-dp-week {
  justify-content: space-around !important;
}



.btn-light.bg-primary.text-white {
  background-color: #bd0f0f !important;
}

[ngbDatepickerDayView]:hover:not(.bg-primary), [ngbDatepickerDayView].active:not(.bg-primary) {
  color: #000 !important;
  cursor: pointer !important;
}

.ngb-dp-day {
  padding: 28px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.ngb-dp-header {
  background-color: transparent !important;
  border: none !important;
  padding-top: 20px !important;
}



.ngb-dp-weekdays {
  background-color: #bd0f0f !important;
  border: none !important;
  padding: 12px  ;
  margin-top: 11px !important;
}

.ngb-dp-weekday {
  color: #fff !important;
}
ngb-datepicker-navigation-select>.form-select {
  border-radius: 5px !important;
  margin: 0px 10px;
  background-color: #000 !important;
  height: 45px !important;
  color: #fff;
  border: 1px solid #bd0f0f !important;
  text-align: center;
  font-size: 20px !important;
}

.ngb-dp-weekday.small{
  position: relative;
}
.ngb-dp-weekday.small::before{
  background: #bd0f0f;
  position: absolute;
  width: 84px;
  left: -18px;
  font-size: 14px;
  font-style: normal;
}


.ngb-dp-weekday.small:nth-child(1):before {
  content: 'Monday';
}
.ngb-dp-weekday.small:nth-child(2):before {
  content: 'Tuesday';
}
.ngb-dp-weekday.small:nth-child(3):before {
  content: 'Wednesday';
}
.ngb-dp-weekday.small:nth-child(4):before {
  content: 'Thursday';
}
.ngb-dp-weekday.small:nth-child(5):before {
  content: 'Friday';
}
.ngb-dp-weekday.small:nth-child(6):before {
  content: 'Saturday';
}
.ngb-dp-weekday.small:nth-child(7):before {
  content: 'Sunday';
}




/* lodaer  */
.loading-main{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #bd0f0f #bd0f0f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 130px;
  height: 130px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
/* lodaer  */


.ngb-dp-navigation-select {
  flex: 1 1 100rem !important;
}
.ngb-dp-arrow-btn{
  color: #fff;
}

.modal-dialog {
  max-width: 1000px !important;
}


ul.slots  li > input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

ul.slots li {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.slots  li .slots{
  background-color: #4aff3e;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  color: #000;
}
ul.slots li input:checked+.slots{
  background-color: #545151f7;
  /* transform: scale(1.5); */
  padding: 0;
  z-index:1;
  position: relative;
}

span.Edit {
  position: absolute;
  bottom: 11px;
  font-size: 13px;
  color: #fff;
  border-bottom: 1px solid;
  display: none;
}

ul.slots li input:checked+.slots+span{
  display: block;
  z-index: 1;

}

span.edit_icon {
  position: absolute;
  top: 0;
  right: 8px;
  color: #fff;
  display: none;
  
}


.time-btn input.disabled+input+input+span {
  background: #06992a57;
}

ul.slots li .input_field {
  position: absolute;
  background-color:transparent;
  width: 200px;
  border-radius: 5px;
  /* width: 200px;
  background: #141313;
  height: 150px; */
  /* display: none; */
  padding: 10px;
  z-index: 111111111111111111;
  /* border: 1px solid #fff; */
  /* border-radius: 5px; */
  /* box-shadow: #ffffff 0px 3px 8px; */
  animation: scale 0.5s;
}

ul.slots li .input_field::before{
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  backdrop-filter: blur(10px);
  z-index: -1;
  left: 0;
  top: 0;
  background: #000000b8;
  border-radius: 9px;
}

ul.slots li > input:disabled + .slots {
  background: #850000;
}


.error_border {
  border: 1px solid red !important; 
}

.input_field button{
  border: none;
  color: #fff;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: 1px solid;
  transition: 0.5s;
}

.input_field button:hover {
  background: green;
}
.input_field .discard:hover{
  background-color: #bd0f0f;
}
/* .input_field .discard{
  background-color: #bd0f0f !important;
  border: none;
  color: #fff;
} */


.slot_booked {
  background: #bd0f0f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot_booked span {
  padding: 0 !important;
  text-transform: capitalize;
}

@keyframes scale {
  0%{
    transform: scale(0);
  }  
  100%{
    transform: scale(1);
  }  
}

ul.slots li .input_field input {
  width: 100%;
  background: transparent;
  color: #fff;
  margin-bottom: 10px;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 2px;
}

/* ul.slots li input:checked+span+.input_field{
  display: block;
} */
ul.slots li .input_field input::placeholder{
  color: #fff;
  font-size: 13px;
}

.error{
  color: #bd0f0f;
}
.pex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pex input{
    margin-right:10px ;
    height: 20px;
    width: 20px;
}
.pex input:disabled+label{
  color:#ccc ;
}
.pex label{
  cursor: pointer;
}

/* book now  */



/* booking conditions  */
.booked+input+span{
  background-color: #bd0f0f !important ;
}
/* booking conditions  */

/* form validatation  */
.form-error{
  color: #bd0f0f;
  margin-bottom: 5px;
}

/* form validatation  */







@media only screen and (min-width: 992px) and (max-width: 1199px) {

body{
  font-size: 14px !important;
}




.menuSec ul {
  gap: 11px;
}

.theme_btn {
  padding: 10px;
}

.menuSec ul {
  margin: 0;
}

.borad_card:after {
  font-size: 31px;
}

footer .container-fluid{
  padding: 0px 10px;
}

.footer_inner p {
  font-size: 12px;
  line-height: 1.5;
}

.footer_inner2 ul li a {
  font-size: 11px;
  line-height: 1.5;
}

.footer_inner2 ul li i {
  height: 30px;
  width: 30px;
}

.footer_inner4 ul li span {
  font-size: 13px;
}

section.inner_banner h2 {
  font-size: 43px;
}

.theme_heading h2 {
  font-size: 29px;
}
}


@media only screen and (min-width: 300px) and (max-width: 767px){

  body{
    font-size: 14px;
  }
  html{
    overflow-x: hidden;
  }
  .btn-search:focus ~ .input-search{
    width: 177px;}
  .card-grid .card {
    margin-bottom: 20px;
}
  .theme_btn {
    padding: 5px;
  }
  
  .menuSec {
    padding: 12px 13px;
  }
  
  .banner_text h1 {
    font-size: 40px;
  }
  .theme_heading h2{
    font-size: 25px;
  }
  footer .container-fluid {
    padding: 16px;
}
}  