<app-inner-banner></app-inner-banner>
<section class="about_us py_8">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../assets/images/who-we-are.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="theme_heading">
                    <h2>Who We Are?</h2>
                    <p>Marksman Arena is a paintball company based in Karachi. Our mission is to provide a fun, safe environment for people of all ages to have the opportunity to experience the thrill of paintball.</p> 
                        <p>
                        We take pride in our customer service, which is why we offer free gear rental and free paintball every day of the week! In addition to providing an awesome game, we also make it easy for you to find new friends or partners in your area. When you sign up for a tournament, we'll send you a list of other players who are also interested in playing.
                    </p>
                    
                    <p>
                    
                    You can then meet up with them at one of our locations and play together! and we're excited about what's next! We're currently working on a number of new Games, such as Indoor Cricket and Airsot Range. We hope that these will make playing  even more fun—and help us continue making Marksman Arena a great place for everyone to come play!</p>
                    <a routerLink="/comming-soon" class="theme_btn">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why_choose_us pb_8">
    <div class="container">
        <div class="theme_heading text-center">
            <h2>THE REASONS TO
                CHOOSE US</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="why_choose_box">
                    <img src="../../assets/images/flag.png" alt="">
                    <h3>
                        #1 PAINTBALL CLUB</h3>
                        <p>We are the best paintball club because our team is a family that acts as one unit and support one another.</p>
                        
                </div>
            </div>
            <div class="col-md-3">
                <div class="why_choose_box">
                    <img src="../../assets/images/mask.png" alt="">
                    <h3>
                        BEST EQUIPMENT</h3>
                        <p>We offer a pro shop, fully-stocked line of rental equipment, that help enhance your day of paintball play.</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="why_choose_box">
                    <img src="../../assets/images/map.png" alt="">
                    <h3>
                        QUALITY ZONES</h3>
                        <p>We have the most various paintball fields. You can choose any you like, and make sure that it’s right for you.</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="why_choose_box">
                    <img src="../../assets/images/gun.png" alt="">
                    <h3>
                        GUN UPGRADES</h3>
                        <p>We provide to our clients only high-quality equipment. Every new season we have being upgraded guns.</p>

                </div>
            </div>
        </div>
    </div>
</section>