<section class="gallery" data-aos="fade-up">
    <div class="container">
        <div class="theme_heading text-center">
            <h2>Gallery</h2>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur, fugit quia unde culpa sunt odit. Beatae tenetur qui harum expedita molestias voluptatem odit, impedit, veritatis corporis perferendis, iste aspernatur!
            </p>
          </div>
    </div>


<div class="tz-gallery">

        <div class="row">

            <div  class="gallery_image col-sm-12 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/paint-ball.jpg">
                    <img src="../../assets/images/paint-ball.jpg" alt="Bridge">
                </a>
            </div>
            <div  class="gallery_image col-sm-6 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/indoor-cricket.jpg">
                    <img src="../../assets/images/indoor-cricket.jpg" alt="Park">
                </a>
            </div>
            <div  class="gallery_image col-sm-6 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/g3.jpg">
                    <img src="../../assets/images/g3.jpg" alt="Tunnel">
                </a>
            </div>
            <div  class="gallery_image col-sm-12 col-md-6">
                <a data-fancybox="gallery" href="../../assets/images/GelBlaster.webp">
                    <img src="../../assets/images/GelBlaster.webp" alt="Traffic">
                </a>
            </div>
            <div  class="gallery_image col-sm-6 col-md-6">
                <a data-fancybox="gallery" href="../../assets/images/g5.jpg">
                    <img src="../../assets/images/g5.jpg" alt="Coast">
                </a>
            </div> 
            <div  class="gallery_image col-sm-6 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/indoor-foot.jpg">
                    <img src="../../assets/images/indoor-foot.jpg" alt="Rails">
                </a>
            </div>
            <div  class="gallery_image col-sm-6 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/range.jpg">
                    <img src="../../assets/images/range.jpg" alt="Rails">
                </a>
            </div>
            <div  class="gallery_image col-sm-6 col-md-4">
                <a data-fancybox="gallery" href="../../assets/images/g1.jpg">
                    <img src="../../assets/images/g1.jpg" alt="Rails">
                </a>
            </div>

        </div>

    </div>

</section>