<ngb-carousel
	#carousel
	[interval]="4000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
  <ng-template data-aos="fade-up" ngbSlide class="banner_slide" *ngFor="let slide of slides; index as i">
    <div class="banner_slide">
		<div class="carousel-caption">
			<div class="banner_text">
        <h1>{{slide.title}}</h1>
        <p>{{slide.bannerText}}</p>
    </div>
		</div>
		
			<div class="picsum-img-wrapper">
				<img [src]="slide.img" />
			</div>
		
  </div>
	</ng-template>
</ngb-carousel>