<section class="book-now-sec py_8">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="date">
        <h4>Please Select Date</h4>
        <p>{{ selectedDate }}</p>
        <app-date-picker
          (messageEvent)="receiveMessage($event)"
        ></app-date-picker>
        <button class="theme_btn mt-3" (click)="backToForm()" id="next_btn">
          <i class="fa-regular fa-arrow-left-long"></i> Back
        </button>
      </div>
      <div class="col-md-12 centerCol" id="time">
        <div class="select-time">
          <span>Select Time Slot</span>
          <div *ngIf="isLoading" class="loading-main">
            <span class="loader"></span>
          </div>
          <div class="time-box-wrp" *ngIf="!isLoading">
            <div
              class="time-btn wow fadeIn"
              *ngFor="let time of timeSlots; let i = index"
            >
              <input
                (click)="open(content, inputElement, slotId)"
                type="radio"
                name="time"
                [id]="i"
                #inputElement
                value="{{ timeSlots[i]['name'] }}"
                [disabled]="
                  (numberOfPlayers < 8 && timeSlots[i]['avaliable'] == 16) ||
                  timeSlots[i]['avaliable'] < numberOfPlayers
                "
                [ngClass]="{
                  disabled:
                    (numberOfPlayers < 8 && timeSlots[i]['avaliable'] == 16) ||
                    timeSlots[i]['avaliable'] < numberOfPlayers,
                  booked: timeSlots[i]['avaliable'] == 0 
                }"
              />

              <input
                type="hidden"
                name="time"
                #slotId
                value="{{ timeSlots[i]['id'] }}"
              />
              <span>{{ timeSlots[i]["name"] }}</span>
              <p>
                Available : {{ timeSlots[i]["avaliable"] }}
                <span
                  class="error"
                  *ngIf="numberOfPlayers < 8 && timeSlots[i]['avaliable'] == 16"
                  >Minimum 8 players Required for opening New Slot</span
                >
                <span class="error" *ngIf="timeSlots[i]['avaliable'] == 0"
                  >Fully Booked</span
                >
              </p>
            </div>
          </div>
        </div>
        <button class="theme_btn mt-3" (click)="openDate()" id="prev_btn">
          <i class="fa-regular fa-arrow-left-long"></i> Previous
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="modal-content">
      <div class="text-center">
        <span (click)="closeModal(content)" class="close-btn"
          ><i class="fa-solid fa-xmark"></i
        ></span>

        <h2>Select Slots</h2>
        <h3 class="d-flex justify-content-between ptext">
          <span id="slot-date">Date: {{ selectedDate }} <p>Number Of Players : {{totalPlayers}}</p></span>
          <span  id="slot-time">Time: {{ selectedTime }} <p>Selected Players : {{addedPlayers??0}} </p></span>
        </h3>
        <h4>Team 1</h4>
      </div>

      <ul class="slots">
        <li *ngFor="let seat of seats | slice : 0 : 8; index as i">
         

          

          <input
            id="{{ seat.name }}"
            type="checkbox"
            (click)="toggle = !toggle"
            [id]="seat.id+'a'"
            value="{{seat.id}}"
            (change)="checkseats()"
            [(ngModel)]="seat.checked"
            [(ngModel)]="checkboxValue[i]"
          />

          <span class="slot_box" *ngIf="loadingSlots"><span class="slots_loading"></span></span>
          <span class="slots" (click)="selected = seat" *ngIf="!loadingSlots">{{ seat.value }}</span>
          <span class="edit_icon"
            ><i class="fa-regular fa-pen-to-square"></i
          ></span>
          <div class="input_field" *ngIf="selected === seat && booked == false">
            <input
              type="tel"
              placeholder="Enter Player Number"
              [(ngModel)]="number"
              required
              pattern=""
            />
            <input
              type="text"
              #nameInput
              [(ngModel)]="name"
              placeholder="Enter Player Name"
              required
              pattern="[a-zA-Z ]*"
            />
            <input type="hidden" [value]="i" [(ngModel)]="slotIndex" />
            <div
              class="d-flex justify-content-center align-items-center"
              style="gap: 10px"
            >
              <button class="book" (click)="bookSlot(seat, i)">
                <i class="fa-solid fa-check"></i>
              </button>
              <button class="book discard" (click)="uncheckCheckbox(seat, i)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <h2>VS</h2>
        <h4>Team 2</h4>
      </div>

      <ul class="slots">
        <li *ngFor="let seat of seats | slice : 8">
          <input
            id="{{ seat.name }}"
            type="checkbox"
            [id]="seat.id+'a'"
            value="{{seat.id}}"
            (click)="toggle = !toggle"
            (change)="checkseats()"
            [(ngModel)]="seat.checked"
            [(ngModel)]="checkboxValue[seat.id]"
          />
          <span class="slot_box" *ngIf="loadingSlots"><span class="slots_loading"></span></span>
          <span class="slots" (click)="selected = seat" *ngIf="!loadingSlots">{{ seat.value }}</span>
          <span class="edit_icon"
          ><i class="fa-regular fa-pen-to-square"></i
        ></span>
          <div class="input_field" *ngIf="selected === seat && booked == false">
            <input
              type="tel"
              placeholder="Enter Player Number"
              [(ngModel)]="number"
              required
              pattern="^(0092|+92|92)(3[0-9]{2})([0-9]{7})$"
            />
            <input
              type="text"
              #nameInput
              [(ngModel)]="name"
              placeholder="Enter Player Name"
              required
              pattern="[a-zA-Z ]*"
            />
            <div
              class="d-flex justify-content-center align-items-center"
              style="gap: 10px"
            >
              <button class="book" (click)="bookSlot(seat, [seat.id])">
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                class="book discard"
                (click)="uncheckCheckbox(seat, [seat.id])"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div class="text-center">
        <p id="error" class="error">
          <b>NOTE!</b> For Playing Exclusively, You Have to add more than 3
          Players to each Team, And Teams must be equal
        </p>
        <p class="pex">
          <input disabled="true" type="checkbox" id="ex" for="ex" />
          <label for="ex">Pay 1000 to reserve Exclusive</label>
        </p>
      </div>

      <ul class="d-flex justify-content-center" style="gap: 10px">
        <li>
          <button
            (click)="goToNextPage('proceed-booking', content)"
            aria-label="Close"
            class="theme_btn"
          >
            Proceed
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
