
<section class="booking2 py_8">
    <div class="container">
      <form [formGroup]="formGroup" id="target" (submit)="sendForm()">
      <div class="theme_heading text-center">
        <h2>Book Now</h2>
        
      </div>
      <div class="row mattch_info">
        <div class="col-md-6">
          <label>Name</label>
          <input type="text"  formControlName="name" required formControlName="name" [(ngModel)]="nameInput" placeholder="Your Name">
          <div class="form-error" *ngIf="submitted && fb.name.errors?.['required']">
            
            Name is required
          </div>
        </div>
        <div class="col-md-6">
          <label>Email</label>
          <input type="text"  [(ngModel)]="emailInput" formControlName="email" required placeholder="xyz@email.com">
    <div class="form-error" *ngIf="submitted && fb.email.errors?.['required']">Email is required</div>
    <div class="form-error" *ngIf="submitted && fb.email.errors?.['email']">Email is invalid</div>
        </div>
        <div class="col-md-6">
          <label>Phone Number</label>
          <input type="text" [(ngModel)]="phoneInput" formControlName="phone_no" required placeholder="0312-3456789">
    <div class="form-error" *ngIf="submitted && fb.phone_no.errors?.['required']">Phone is required</div>
    <div class="form-error" *ngIf="submitted && fb.phone_no.errors?.['pattern']">Please Enter Valid Number</div>
        </div>
        <div class="col-md-6">
          <label>Number of Players</label>
          <input type="number" max="16" [(ngModel)]="playerInput"  required formControlName="no_of_players" placeholder="ex : 4 ">
           <div class="form-error" *ngIf="submitted && fb.no_of_players.errors?.['required']">Number Of Players  is required</div>
        </div>
        <div class="col-md-6">
          <button class="theme_btn">Proceed</button>
        </div>
      </div>
    </form>
    </div>
  </section>

